<div class="jumbotron">
    <h1>Nyhedsbrevs applikation.</h1>
    <p class="lead">Søren Høyer Kristensen</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">

    <div class="col-md-8">
        <div class="col-md-12">
            <h2>Subscribers</h2>
            <div id="subscribers-list"></div>
            <div id="notification-bar"></div>
        </div>
        <div class="col-md-12">
            <h2>Mailing Lists</h2>
            <div id="mailing-lists"></div>
            <div id="notification-bar"></div>

        </div>
    </div>

    <div class="col-md-4">
        <h2>Newsletter</h2>
        <p>
            Firstname <input type="text" id="firstname" /><br />
            Email <input type="text" id="email" />
        </p>
        <p>
            <div id="mailing-lists-signup"></div>
        </p>
        <p><a class="btn btn-default" id="newsletter-sign-up">Sign up &raquo;</a></p>
    </div>
</div>
